.home-page {
  /* padding-top: 120px; */
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page img {
  padding: 180px 0 20px 0;
  /* padding: 2rem; */
  width: auto;
  height: 100vh;
}
