.nav {
  position: fixed;
  width: 100%;
}

.nav__links {
  display: flex;
  flex-wrap: wrap;

  box-shadow: -3px 5px 2px gray;
}

.nav__link {
  padding: 0.55rem;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;

  /* background-color: #61fbfb7c; */
  background-color: #61c2fb;
  color: rgb(0, 17, 255);
}

.nav__link:hover {
  background-color: beige;
}

.nav__links:nth-child(odd) {
  background-color: red;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: gray;
}

a:active {
  color: red;
}
