.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  color: #111;

  padding: 10px;
  height: 450px;
  width: 380px;

  border-radius: 20px;
  background-color: rgb(250, 243, 243);
  outline: 10px double #c0a509ab;
  box-shadow: -10px 10px 20px #0a0a0aa8;

  position: relative;
}

.modal-footer button {
  padding-inline: 10px;
  outline: none;
}

.modal-footer {
  width: 100%;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  text-align: right;
  padding: 10px 25px;
}

.image-animated {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.page-single-pokemon {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  width: 150px;
}
.details {
  display: flex;
  flex-flow: row nowrap;
  /* flex-grow: 1 2; */
}

.details-footer ul {
  padding-left: 20px;
  display: flex;
  flex-flow: column wrap;
}

.page-single-pokemon li {
  list-style: none;
}

.main-container h2 {
  text-align: center;
  margin-bottom: 10px;
}
