.type--normal{
  /* background-color: #817e7e67; */
  outline: 1px double #817e7e;
  box-shadow: -1px 1px 5px #817e7ea9;
}

.type--water{
  background-color: #006eff49;
  outline: 1px double #002fff;
  box-shadow: -1px 1px 5px #006eff;
}

.type--fire{
  background-color: #ff000031;
  outline: 1px double #ff0000;
  box-shadow: -1px 1px 5px #ff0000a8;
}

.type--grass{
  background-color: #00800044;
  outline: 1px double #008000;
  box-shadow: -1px 1px 5px #008000b7;
}

.type--electric{
  background-color: #ffff0049;
  outline: 1px double #e4b84a;
  box-shadow: -1px 1px 5px #8a8a02ce;
}

.type--ice{
  background-color: #4ae4e452;
  outline: 1px double #4ae4e4;
  box-shadow: -1px 1px 5px #4ae4e4b7;
}

.type--fighting{
  background-color: #493d4149;
  outline: 1px double #493d41;
  box-shadow: -1px 1px 5px #493d41b2;
}

.type--poison{
  background-color: #8b008b7e;
  outline: 1px double #8b008b;
  box-shadow: -1px 1px 5px #8b008bbb;
}

.type--flying{
  background-color: #aa57ee46;
  outline: 1px double #aa57ee;
  box-shadow: -1px 1px 5px #aa57eeb0;
}

.type--psychic{
  background-color: #f37a8e7c;
  outline: 1px double #f37a8e;
  box-shadow: -1px 1px 5px #f37a8eb4;
}

.type--bug{
  background-color: #a8f01962;
  outline: 1px double #a8f019;
  box-shadow: -1px 1px 5px #a8f019ad;
}

.type--rock{
  background-color: #754a2c5b;
  outline: 1px double #754a2c;
  box-shadow: -1px 1px 5px #754a2cb2;
}

.type--ghost{
  background-color: #79cfcf41;
  outline: 1px double #79cfcf;
  box-shadow: -1px 1px 5px #79cfcfa8;
}

.type--dark{
  background-color: #66554880;
  outline: 1px double #665548;
  box-shadow: -1px 1px 5px #665548b6;
}

.type--dragon{
  background-color: #ffa60071;
  outline: 1px double #ffa600;
  box-shadow: -1px 1px 5px #ffa600b6;
}

.type--steel{
  background-color: #dad9d72c;
  outline: 1px double #5a5854;
  box-shadow: -1px 1px 5px #5a5854;
}

.type--fairy{
  background-color: #ff25498a;
  outline: 1px double #ff2549;
  box-shadow: -1px 1px 5px #ff2549bd;
}

.type--ground{
  background-color: #91796993;
  outline: 1px double #3d2d22;
  box-shadow: -1px 1px 5px #3d2d22b6;
}