.App {
  text-align: center;
  padding-inline: 40px;
  background-color: #fff;
  padding-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MY STYLING */

:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Exo-2", sans-serif;
  --prompt-font-family: "Prompt", sans-serif;
}

.App__title {
  /* position: fixed; */
  /* color: violet; */
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: #61fbfb7c; */
  background-color: #61c2fb;
}

h1 {
  font-family: "Rubik";
  font-size: 3rem;
}

#pokedex {
  padding-top: 130px;
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
  margin-bottom: 2rem;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
  border-radius: 10px;

  box-shadow: -3px 8px 5px darkgray;
}

.card-title {
  margin-bottom: 0.75rem;
}
.card:hover,
button:hover {
  animation: bounce 0.5s linear;
}

button {
  cursor: pointer;
}

.btn-load {
  border-radius: 10px;
  background-color: #008b8b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;

  box-shadow: -5px 5px 10px #014e4e;
  margin-bottom: 100px;
  margin-top: 50px;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}

.disabled {
  cursor: not-allowed;
  background-color: gray;
}

.footer {
  background-color: #61fbfb7c;
  height: 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 10px;

  font-size: 1rem;

  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer b {
  color: red;
}

.span__type {
  /* background-color: #817e7e67; */
  outline: 1px double #daa520;
  box-shadow: -1px 1px 5px #daa520bb;
}

.card span {
  outline-offset: 3px;
  margin: 10px;
  border-radius: 4px;
  padding: 0 10px;
}

.loading-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-image img {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.error-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.801);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  color: white;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.load-btn-type {
  border-radius: 10px;
  background-color: #008b8b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;

  box-shadow: -5px 5px 10px #014e4e;
  margin-bottom: 100px;
  margin-top: 50px;
}
